@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    box-sizing: border-box;
}

html, body {
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: #424242;
    opacity: 0.75;
}

a:hover {
    opacity: 1;
}

#wrapper {
    margin: 5em auto 0 auto;
    max-width: 960px;
    color: #fff;
}

@media (max-width: 480px) {
    #wrapper {
        margin: 0;
    }
}

header {
    margin: 1em;
}

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 0.9em;
    margin: 1em 0;
}

#content {
    background: #fff;
    border-radius: 1px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: #424242;
    padding: 0.5em 1em;
    position: relative;
}

#badges {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

#badges > * {
    margin-left: 0.5em;
}

.code {
    margin: 1em;
    padding: 1em;
    border-radius: 3px;
    background: #424242;
    color: #fff;
}

.emoji {
    height: 18px;
    margin-left: 2px;
}
